@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

#btn_menu {
    display: none;
}

.contenedor {
    background: #343a40;
    padding:10px;
    width: 100%;
    position: fixed;
    z-index: 100;
    display: table;
}

.contenedor label {
    display: block;
    width: 40px;
    height: 20;
    padding-left: 10px;
}

.contenedor label {
    display: none;
}

.contenedor label:hover {
    cursor: pointer;
}

.menu ul {
    width: 100%;
    align-content: center;
    margin: 10px;
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: #343a40;
    top: 0;
    transition: top 0.5s;
}

.menu li a:hover {
    color: chartreuse;
}

 .menu li{
    flex-flow: 1;
    font-family:'Open Sans', Arial, sans-serif; 
    text-transform: uppercase;
}

.menu li a{
    font-size: 11pt;
    text-align: center;
    display: block;
    padding: 8px 25px;
    color: #343a40;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
}

@media (max-width:768px) {
    
    .contenedor label {
        display: block;
    }
    
    .menu {
        position: absolute;
        width: 100%;
        margin-left: -110%;
        transition: all 1s;
    }
    
    .menuIcon {
        display: block;
    }
    
    .menu ul {
        flex-direction: column;
    }
    
    .menu li {
        border-top: 1px solid #fff;
    }
     
    #btn_menu:checked ~ .menu {
        margin-left: -20px;
    }
}
