@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

#btn_menu {
    display: none;
}

.contenedor label {
    display: block;
    width: 60px;
    height: 60px;
    padding: 10px;
    border-right: 1px solid #fff;
}

.contenedor {
    background: #000000;
    padding:10px;
    width: 100%;
    position: fixed;
    z-index: 100;
    display: table;
}

.contenedor label:hover {
    cursor: pointer;
    background: rgba(0,0,0,0.3);
}



.contenedor label:hover {
    cursor: pointer;
}

.menu ul {
    align-content: center;
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
   
}


 .menu li{
    flex-flow: 1;
    font-family:'Open Sans', Arial, sans-serif; 
    text-transform: uppercase;
}

.menu li a{
    font-size: 11pt;
    text-align: center;
    display: block;
    padding: 8px 25px;
    color: gray;
    text-decoration: none;
    color: #FFFFFF;
}

@media (max-width:768px) {
    
    .contenedor label {
        display: grid;
    }
    
    .contenedor {
        margin-left: -10px;
    }
    
    .menu {
        position: absolute;
        width: 70%;
        margin-left: -100%;
        transition: all 1s;
    }
    
    .menuIcon {
        display: block;
    }
    
    .menu ul {
        flex-direction: column;
    }
    
    .menu li {
        border-top: 1px solid #fff;
    }
     
    #btn_menu:checked ~ .menu {
        margin-left: -20px;
    }
}